*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header Styling */
.header {
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85px;
  display: flex;
  position: fixed;
  padding-inline: 40px;
}

.navigation-bar ul {
  align-items: center;
  gap: 70px;
  display: flex;
}

.navigation-bar ul li {
  list-style-type: none;
  cursor: pointer;
  font-size: 20px;
}

.navigation-bar ul a {
  text-decoration: none;
  color: black;
}

.user-profile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

i {
  font-size: 26px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  padding-block-start: 100px;
}

.mart {
  color: red;
}

.header h2 {
  font-size: 28px;
  cursor: pointer;
}

.srch-btn {
  padding-block: 8px;
  padding-inline: 10px;
  border-radius: 4px;
  border: none;
  font-size: 16px;

  cursor: pointer;
}

.search-container input {
  padding-inline: 15px;
  padding-block: 8px;
  width: 22%;
  font-size: 16px;
}

.search-container input:focus {
  color: black;
}

.login-btn {
  padding-block: 8px;
  padding-inline: 10px;
  border-radius: 4px;
  border: none;
  font-size: 16px;

  cursor: pointer;
}

/* hero-section Styling */
.hero-section img {
  width: 100%;
  height: 100vh;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section h2 {
  font-size: 34px;
  position: relative;
  bottom: 35px;
}

.hero-section h2 span {
  color: red;
}

.info-boxes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 300px;
  width: 100%;
}

.info-boxes button {
  padding-inline: 34px;
  padding-block: 17px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  font-size: 19px;
  border-radius: 6px;
  cursor: pointer;
}

.info-boxes button:hover {
  transform: scale(0.9);
  background-color: black;
  color: white;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.product-list a {
  text-decoration: none;
  color: black;
}

.product-card {
  height: auto;
  width: 250px;
  padding-inline: 8px;
  padding-block: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(239, 239, 239);
  border-radius: 8px;
  /* align-items: cener; */
  /* justify-content: center; */
}

.product-card img {
  height: 180px;
  width: 100%;
}

.brand-title {
  font-size: 25px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tag {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 18px;
}

.tag span {
  font-weight: 600;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.desc {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.product-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.cart-button {
  color: #000;
  cursor: pointer;
  padding-block: 6px;
  font-size: 20px;
}

.cart-button:hover {
  background-color: black;
  color: white;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  height: 60px;
  font-size: 19px;
}

.all-product-list {
  flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-block-start: 20px;
    display: flex;
}

.all-product-list a {
  text-decoration: none;
  color: black;
}

.product-detail-page {
  padding-block-start: 126px;
  display: flex;
  gap: 50px;
}

.product-detail-page img {
  height: 67vh;
  width: 36%;
  border-radius: 10px;
  margin-inline-start: 55px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.product-info .cart-button {
  width: 55vw;
}
.active-bar.active {
  color: red;
  border-block-end: 1px solid black;
}
