*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header Styling */
.header {
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-around;
  background-color: white;
}
.navigation-bar ul {
  display: flex;
  align-items: center;
  gap: 28px;
}
.navigation-bar ul li {
  list-style-type: none;
  cursor: pointer;
  font-size: 18px;
}
.user-profile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
i {
  font-size: 26px;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.mart {
  color: red;
}
.header h2 {
  font-size: 28px;
  cursor: pointer;
}
.srch-btn {
  padding-block: 8px;
  padding-inline: 10px;
  border-radius: 4px;
  border: none;
  font-size: 16px;

  cursor: pointer;
}
.search-container input {
  padding-inline: 20px;
  padding-block: 8px;
}
.search-container input:focus {
  color:white;
  background-color: black;
}
.login-btn {
  padding-block: 8px;
  padding-inline: 10px;
  border-radius: 4px;
  border: none;
  font-size: 16px;

  cursor: pointer;
}

/* hero-section Styling */
.hero-section img {
  width: 100%;
  height: 100vh;
}
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-section h2{
    font-size: 28px;
}
.hero-section h2 span{
    color: red;
}
.info-boxes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 300px;
  width: 100%;
}
.info-boxes button {
    padding-inline: 34px;
    padding-block: 17px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    font-size: 19px;
    border-radius: 6px;
    cursor: pointer;
}
.info-boxes button:hover{
    transform: scale(0.9);
    background-color: black;
    color: white;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}