@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: Public Sans;
  background-color: azure;
}

.Header {
  height: 5rem;
  width: 100%;
  border-block-end: 1px solid black;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-block-start: 10px;
  position: fixed;
  background-color: azure;
}
.navigation-section ul {
  align-items: center;
  gap: 2rem;
  display: flex;
}

.navigation-section ul li {
  list-style: none;
  cursor: pointer;
}
.login-cart-darkmode {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.login-logout {
  font-size: 1rem;
  width: 70px;
  height: 33px;
  cursor: pointer;
}
i {
  font-size: 24px;
  cursor: pointer;
}
.dark-mode {
  display: none;
}
.heading {
  font-size: 1.4rem;
}
.heading span {
  color: red;
}
.heading:hover {
  cursor: pointer;
}
.navigation-section ul li {
  font-size: 1.1rem;
}
.hero-image img {
  height: 700px;
  width: 100%;
  border-radius: 4px;
}
.shipped-information {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products-button {
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;
  display: flex;
  padding-block-end: 20px;
}
.products-button button {
  background-color: #fc6262;
  padding-inline: 25px;
  padding-block: 24px;
  font-size: 18px;
  border: navajowhite;
  border-radius: 7px;
  cursor: pointer;
}
.products-button button:hover {
  transform: scale(1.1);
}
.hero-section {
  padding-block: 80px;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.hero-image {
  width: 100%;
}
.product-card {
  width: 300px;
  height: 340px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline: 8px;
  padding-block: 8px;
}
.product-card img {
  height: 60%;
  border-radius: 4px;
  width: 100%;
}

.products-list {
  display: flex;
  align-items: center;
  width: 95%;
  gap: 30px;
}
.product-card:hover{
    cursor: pointer;

    border: 1px solid black;
}
.product-card button{
    font-size: 18px;
  padding-block: 4px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;

}
.product-card button:hover{
    background-color: white;
    color: black;
}
.hero-section  h2{
   font-size: 30px;
}