*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Header {
  height: 6rem;
  width: 100%;
  background-color: #f1b170;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
}
.Header h2 {
  font-size: 28px;
}
.navigation-bar {
  width: 40%;
}
.navigation-bar ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navigation-bar ul li {
  list-style-type: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
}
.navigation-bar ul li a{
  text-decoration: none;
  color: black;
}
.search-box input {
  width: 300px;
  height: 40px;
  border-radius: 0.3rem;
  padding-inline-start: 14px;
  font-size: 16px;
}
.search-box input:focus {
  padding-inline-start: 14px;
  font-size: 16px;
  color: black;
}
.search-box {
  display: flex;
  gap: 10px;
  align-items: center;
}
.search-box button {
  padding-inline: 12px;
  padding-block: 10px;
  letter-spacing: 0.2;
  font-size: 1rem;
}

.log-or-not {
  padding-block: 8px;
  padding-inline: 10px;
  font-size: 15px;
  cursor: pointer;
}
.Resta-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
  padding-inline: 20px;
  gap: 30px;
  flex-wrap: wrap;
}
.Resta-list a{
  text-decoration: none;
  color: black;
}
.Resta-card {
  height: 340px;
  width: 250px;
  background-color: rgb(247, 247, 247);
  padding-inline: 10px;
  padding-block: 10px;
  border-radius: 10px;
  cursor: pointer;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.Resta-card img {
  height: 70%;
  width: 100%;
}
.Resta-card:hover {
  border: 1px solid black;
}
.card-body {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  gap: 3px;
}
.cuisines {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-heading {
  font-size: 21px;
}
.info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 15px;
}
.top-restaurents-card {
  padding-inline: 10px;
  padding-block: 10px;
  /* background-color: azure; */
  cursor: pointer;
}
.top-rated-filter {
  display: flex;
  align-items: center;
  gap: 40px;
}
.ui-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
  padding-inline: 20px;
  gap: 30px;
  flex-wrap: wrap;
}
.ui-card {
  height: 340px;
  width: 250px;
  background-color: rgb(247, 247, 247);
  padding-inline: 10px;
  padding-block: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.Restaurent-detail-page{
  flex-direction: column;
  align-items: center;
  /* padding-block: 25px; */
  display: flex;
  border-block-start: 1px solid black;
  background-color: aliceblue;
}
.intro-card{
  height: 349px;
  width: 590px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 0px;
  padding-block: 45px;
  border-radius: 12px;

}
.information-menu{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;

}
.first-section{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

}
.para-info{
  display: flex;
  align-items: center;
  gap: 5px;
}
.on-or-not{
  display: flex;
  align-items: center;
}